* {
  text-align: center;
}

header {
  background-color: darkblue;
  color: white;
}

.wrapper {
  margin: auto;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

fieldset {
  border: none;
}

input {
  background-color: lightgrey;
  border-radius: 5%
}

@media(max-width: 767px){
  * {

  }

  h1 {
    font-size: 3em;
  }

  .top {
    width: 100%;
    margin: auto;
    max-width: 5%;
    flex-wrap: wrap;
  }

  }

  .top label {
    margin-right: auto;
    margin-top: 2%
    margin-left: 0px;
    margin-bottom: 1%;
  }

  .top input {
    margin: 2% auto;
    padding: 5%;
  }

}

@media(min-width: 768px){
  .wrapper {
    margin: auto;
    max-width: 60%
  }

  label, input {
    margin: 2%;
  }
}
